.logo {
  font-size: 30pt;
  padding-bottom: 40pt;
}
.namebox {
  margin-bottom: 20pt;
}
.namebox input {
  margin-top: 5pt;
}
.creategamebutton {
  padding: 10pt;
  background-color: green;
  margin-bottom: 20pt;
}

.joingamebutton {
  padding: 10pt;
  background-color: orange;
}
.container {
  background-color: #c0c0c0;
  justify-content: center;
  font-family: sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
