<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/join.css" />
  <link rel="stylesheet" type="text/css" href="static/css/persistant.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="static/js/app.js"></script>
  <meta charset="utf-8" http-equiv="expires" content="0"/>
  <title> Pass It On! </title>
</head>
<body>
  <div class="back-arrow" id="back">
    <img src="../static/images/left-arrow.svg" />
  </div>
  <div id="y">

  </div>
</body>
</html>
