<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="static/css/home.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="static/js/app.js"></script>
  <meta charset="utf-8" />
  <title> Pass It On! </title>
</head>
<body>
  <div class="container">
    <div class="logo">
      Pass it on!
    </div>
    <div class="namebox">
      <span>What is your name?</span>
      <br />
      <input value="Freddie" id="name"  />
    </div>
    <div class="namebox">
      <span>Which room would you like to join?</span>
      <br />
      <input value="Freddie" id="room"  />
    </div>
    <div class="joingamebutton">
      Join Game
    </div>
  </div>


</body>
</html>
